[2018-11-19 21:18] jadonk opened #1 "CR2032 battery connector is poor quality"
The retaining clip broke off the first time I used it.

[2020-04-24 16:48] #1 closed, assigned to nobody

[2020-04-24 19:21] cfriedt opened #2 "Docs: system diagrams"
maybe for a certain number of uses cases. The blinky demo using gpiotools could be useful to conceptualize

https://gist.github.com/cfriedt/6ef357e0e464a7a5544c544c94068182

LED <=> gpio on BeagleConnect <=> cloud <=> Host machine <=> gpiochip0 <=> bash script to blink

[2020-07-24 17:55] statropy opened #3 "Add MSP430 DFU mode via button press"
Pressing the USER1 button during USB insertion should put the MSP430 into USB DFU (firmware update) mode. The PUR pin needs to be pulled up to trigger this mode. See launchpad schematic for BSL button example:

![Screen Shot 2020-07-24 at 1 54 13 PM](https://user-images.githubusercontent.com/919837/88420678-40504b00-cdb5-11ea-884c-5d66f9f2dae9.png)

[2020-07-24 18:02] statropy opened #4 "CC1352R Boot trigger"
The CC1352R needs to be able to be placed in BSL (bootloader) mode by button press and programatically by the MSP430. The default boot pin is DIO15, active low. Pressing USER1 button should ground DIO15. The MSP430 needs to be able to control DIO15 and NReset of the CC1352R. No pull-up on USER1 is needed as an internal pull-up is configured by default.

[2020-07-24 18:18] statropy opened #5 "UART Pins for BSL"
The CC1352R serial bootloader (BSL) can only use pins DIO12 (CC1352R RX) and DIO13 (CC1352R TX). These pins should be connected to the MSP430 UART pins P4.4 (MSP430 TX) and P4.5 (MSP430 RX).

The CC1352R only has 2 UARTs available, so one must be shared with the external connector and the MSP430. Additionally, so that there is not contention for the UART pins, the MSP430 needs a method of switchin

[2020-07-24 18:21] #4 closed

[2020-07-27 15:55] statropy opened #6 "MSP430 Spy-Bi-Wire connections"
The simplest and default connection for MSP430 program/debug is the Spy-Bi-Wire interface, outlined in https://www.ti.com/lit/ug/slau278af/slau278af.pdf page 23 (screenshot below). The 4 connections needed are

|Signal | MSP430 | Tag Connect |
|---------|-------|-------|
| RST/NMI/SBWTDIO | 48 | 1 |
| TEST/SBWTCK | 47 | 7 |
| GND | | 9 |
| VCC |  | 4 |

The JTAG signals do not need to be connected

[2020-07-27 16:14] statropy commented on #5
DIO12/DIO13 of CC1352R are switched in c925208247cc354a4dd9d04e9ffbb444a79c473b.

[2020-07-28 15:41] jadonk commented on #6
@ChrisGammell are you making this change today or should we just ask @FionaYu20180326 at Seeed?

[2020-07-28 15:43] jadonk commented on #5
Is this comment documentation or a request for correction?

[2020-07-28 15:44] jadonk commented on #3
@ChrisGammell is this change in the rev C schematic? Will you update today or should we ask @FionaYu20180326 at Seeed to fix?

[2020-07-28 15:46] statropy commented on #5
This needs to be fixed

[2020-07-28 15:49] statropy commented on #3
Looks complete to me, I think this can be closed

[2020-07-28 16:41] #5 closed

[2020-07-28 16:47] #6 closed

[2020-07-28 16:49] ChrisGammell commented on #3
Yes, this was fixed in c925208, it didn't pick up on the issue number (I had tagged #4 and #5 in my commit)

[2020-07-28 16:49] #3 closed

[2020-09-04 03:36] jadonk opened #8 "System Reference Manual"
Need SRM-style documentation for the Leash board.

[2020-09-04 03:41] jadonk opened #9 "Fix Bluetooth (BLE) in Zephyr on CC1352R"
TI promised some help with this, but unsure if it is ever coming. Using 802.15.4 for the 2.4GHz doesn't give us the ability to connect to typical laptops that already have BLE radios.

[2020-09-04 04:33] jadonk opened #10 "Switch to Zephyr TI radio driver"
The current Zephyr 802.15.4 driver for the CC1352R is a custom developed driver. Changing this
driver to instead use the already existing TI radio drivers will provide a more consistent interface
and ease the addition of Sub GHz communication. To support the Host Gateway, the 802.15.4
driver for the CC1352R also needs to have CONFIG_IEEE802154_RAW_MODE support added,
to allow direct access to the

[2020-09-04 19:21] jadonk opened #11 "**New Product Introduction materials**"
- [ ] high-resolution images
- [ ] flyer
- [ ] certifications and classifications

[2020-09-04 19:22] jadonk opened #12 "Leash+Linux SW Documentation"
- [ ] complete documentation of implementation
- [ ] step-by-step guides for compilation and usage
- [ ] prepare source code so that it is ready to upstream
- [ ] prepare slides and demonstrations for presentation

[2020-09-04 19:22] jadonk opened #13 "Security"
- [ ] code changes to handle public-key authentication
- [ ] code changes to handle symmetric AES encryption
- [ ] code changes on Leash to store data in non-volatile memory
- [ ] code changes to enable discovery

[2020-09-04 19:24] jadonk opened #14 "BLE Greybus demo"
- [ ] Unit Tests demonstrating required functionality
- [ ] Integration of Greybus into basic Bluetooth demonstration application
- [ ] Enumeration of SPI & I2C via Greybus over Bluetooth
- [ ] Linux host demo application that
pairs with the The Platform
enumerates remote SPI & I2C via Bluetooth & Greybus
- [ ] performs remote SPI & I2C transactions on simple, readily available SPI & I2C periphera

[2020-09-04 19:26] jadonk opened #15 "SW: UART/USB Bridge Firmware"

[2020-09-04 19:26] jadonk opened #16 "Leash rev C hardware"
- [x] new layout
- [x] prototypes built
- [x] case prototypes built
- [x] validated

[2020-09-04 19:27] jadonk opened #17 "802.15.4 Host Gateway"
- [ ] Linux driver provides wpan interface
- [ ] MSP430 firmware passes commands/data to CC1352R
- [ ] CC1352R firmware consumes the radio control protocol, sending responses and received packet data back to the host

[2020-09-04 19:27] jadonk opened #18 "CC1352R Firmware Updater"
- [x] over MSP430 USB to UART (updates to msp430 usb-to-uart firmware)
- [x] standalone Python script
- [x] via ```west flash```
- [x] on Rev C hardware

[2020-09-04 19:28] jadonk opened #19 "Mikrobus driver"
- [x] mikroBUS kernel driver patch with support tested for few example clicks
- [ ] Tested support for at least 140 different Click Boards
- [ ] Documentation, development/improvement of driver and any related userspace utilities

[2020-09-04 19:28] jadonk opened #20 "Sub-G 802.15.4 Greybus demo"
- [ ] Connect at Sub-G radio frequency
- [ ] Minimal patching for Linux (CC1352 to register with Linux WPAN subsystem)
- [ ] Linux host demo application that
forms an 802.15.4 PAN (Personal Area Network) with coordinator node
allows RFD to join PAN
- [ ] enumerates remote SPI & I2C via 6LowPan & Greybus
- [ ] performs remote SPI & I2C transactions on simple, readily available SPI & I2C peripherals

[2020-09-12 18:01] cfriedt commented on #13
Everything on the Linux side works already, so this will really just be a matter of using whatever public key and ssl apis are available on the Zephyr side. This issue should technically be more of a Milestone and there should be issues created for specific features.

[2020-09-12 18:09] cfriedt commented on #20
LIkely will remove the requirement for coordinator. It's unnecessary for 6LowPAN and currently not anywhere close to being implemented on the Linux side. IEEE 802.15.4 joining isn't even necessary to use 6LowPAN over 15.4.

The host demo application is essentially the same as that for BLE and 2.4GHz 15.4.

This ticket should probably also be a Milestone.

There are really 2 remaining issues to com

[2020-09-13 15:25] cfriedt commented on #10
Issue: zephyrproject-rtos/zephyr#26312
PR: zephyrproject-rtos/zephyr#26316

[2020-09-16 18:13] jadonk commented on #10
Cool. Looks like the PR is still open though. Hope it gets merged soon.

[2020-09-16 19:18] jadonk commented on #13
Please feel free to create both issues and milestones. Milestones with dates are especially nice. :-)

[2020-09-16 19:22] jadonk opened #21 "Node-RED integration"
- [ ] IIO node
- [ ] ???
- [ ] other nodes

[2020-09-16 19:46] RobertCNelson commented on #21
a quick search, no libiio node-red yet...

[2020-09-18 00:06] jadonk commented on #14
Is this on an nRF or CC1352? I think we need to break down any nRF elements into a different issue.

[2020-09-18 00:08] jadonk opened #22 "Silkscreen design for Leash case"

[2020-09-24 15:43] cfriedt commented on #10
Yeah - everyone in the Zephyr community is kind of in crunch time right now because they're on 2.4.0-rc2 and 2.4.0 is set to be released imminently. I would assume that most / all of our changes will make it in for 2.5.0.

Although with the email from Tel Aviv last night / today, I'm going to give the TX optimization a shot again since the PR is still open.

CONFIG_IEEE802154_RAW_MODE looks pretty

[2020-09-28 13:55] statropy opened #23 "Unique USB VID/PID needed for Beagle Connect"

[2020-09-28 18:14] jadonk opened #24 "SW: Enable MSP430 builds with CCS Cloud tools"
This is far less important than working with open tools, which is already fixed. For those looking to run the TI debugger, it would be nice if they could use the cloud version of the tools.

Looks like changing the folder name might work, but I haven't tested:

https://e2e.ti.com/support/tools/ccs/f/81/t/935249

[2020-09-28 18:21] jadonk commented on #23
https://e2e.ti.com/support/microcontrollers/msp430/f/166/t/944483

[2020-09-28 19:07] jadonk opened #25 "Host gateway config for BeagleBone AI and/or PocketBeagle"
- [ ] Kernel: greybus/gb-netlink drivers
- [ ] Kernel: mikrobus drivers
- [ ] Kernel: Environmental Click driver
- [ ] Kernel: PM2.5 driver
- [ ] GBridge
- [ ] Node-RED: sources for sensors
- [ ] Integration: automated configuration and service start-up
- [ ] Integration: integrated disk image

[2020-09-28 21:15] jadonk commented on #25
PM2.5 example code: https://github.com/Seeed-Studio/Seeed_PM2_5_sensor_HM3301/blob/master/src/Seeed_HM330X.cpp

[2020-09-28 21:26] jadonk commented on #23
VID: 0x2047 PID: 0x0aa5

[2020-10-02 23:36] jadonk opened #26 "msp430_usb_uart_bridge updates for BeagleConnect LeashPCB rev C"
@FionaYu20180326 , can you ask Baozhu to provide a pull request to https://github.com/statropy/msp430F55xx_usb_uart_bridge with whatever fixes he applied to get it to work on this rev of hardware?

cc @statropy

[2020-10-06 16:16] #23 closed

[2020-10-09 03:18] Pillar1989 commented on #26
@jadonk  @FionaYu20180326   https://github.com/statropy/msp430F55xx_usb_uart_bridge/pull/8/commits/9c2b5fda9b54ffd6990d389bb0c5cc5a703fa5fa
I've submitted it here.

[2020-10-09 16:21] jadonk opened #27 "CI: Complete for entire project"
- [x] Zephyr Greybus build for Launchpad+Click Boosterpack
- [x] Zephyr Greybus build for Sensortag+Click Boosterpack
- [ ] Zephyr Greybus build for BeagleConnect LeashPCB
- [x] usb_uart_bridge build for BeagleConnect LeashPCB
- [x] Buildroot image build for qemu_x86 with Linux, mikrobus and gbridge

[2020-10-09 16:23] jadonk opened #28 "HW: LeashPCB rev C USB not wired completely for cable swap"
I'm finding that plugging in the USB cable that orientation matters. It should not. D+/D- should be routed to both sides with minimal stubs. Cc @FionaYu20180326

[2020-10-09 16:52] jadonk opened #29 "HW: Leash PCB rev C: mikrobus connector rotated"
It seems the mikroBUS socket on the side of the board with the buttons is facing the wrong way. The mikroBUS add-on boards should extend *away* from the buttons as not to cover them up. This is wrong for sure.

The mikroBUS socket on the USB/battery side of the board faces away from the USB/battery, which is probably fine. Originally, the thought was to have the top/bottom side connectors facing o

[2020-10-12 04:55] FionaYu20180326 commented on #29
Sure. Let's talk about this and modify the PCB placement.

[2020-10-12 07:09] FionaYu20180326 commented on #28
Sure. I will change the design in next sample building.

[2020-10-16 17:44] jadonk opened #30 "BeagleConnect"

[2020-10-19 13:59] statropy opened #31 "HW: Leash PCB rev C: kicad_pcb file not up to date"
The hw/Leash/LeashPCB.kicad_pcb file does not match the Rev C board layout.

Error when opening hw/Leash/LeashPCB.sch
![Screen Shot 2020-10-19 at 10 50 33 AM](https://user-images.githubusercontent.com/919837/96467511-fd0d4900-11f8-11eb-8afa-2168dd368598.png)

[2020-10-20 11:15] FionaYu20180326 commented on #31
This may because of the different components library. We are trying to fix it, and will update Git once done.

[2020-10-20 13:42] statropy opened #32 "CC1352R and CC1352P are not pin compatible"
Pins 5-9 have different assignments on the CC1352R vs CC1352P

Pin | CC1352R | CC1352P
---|----------|-----------
5 | RX_TX Bias | TX_20DBM_P
6 | X32K_Q1 | TX_20DBM_N
7 | X32K_Q2 | RX_TX Bias
8 | DIO_3 | X32K_Q1
9 | DIO_4 | X32K_Q2

[2020-10-20 16:07] jadonk commented on #32
Probably makes sense for us to stick with CC1352*P*. Looks like we'll need to move the 2.4GHz and SubGHz LEDs over to some other pins and move the User 1 and 2 LEDs over to the MSP430.

Also, looks like we'd want to use the output from the amplifier and adjust the layout to optimize for it.

[2020-10-20 19:20] statropy commented on #31
More importantly the PCB layout does not match the Rev C board. I really need this to be able to trace through and test hardware. Even if there are errors, please update the kicad_pcb file to the one used to make Rev C

[2020-10-20 19:32] statropy opened #33 "HW: Sensor interrupt design is incorrect"
The sensor interrupt design was changed incorrectly in Rev C. The Rev B design combined interrupt signals from the 3 on-board sensors (OPT3001, HDC2010 and LIS2DE12) through a logic-OR IC to provide the CC1352R with a single interrupt input that could be triggered by any of the 3 sensors. It would then be up to the CC1352R control software do poll each sensor to determine which provided the interr

[2020-10-21 10:18] FionaYu20180326 commented on #31
Updated. In case that there may meet some issues if we cover old version, so I created a new folder. Please check #34

[2020-10-21 10:35] qunanan commented on #33
Hi, I think the previous interuupt design has issues. First ,The OPT3301's interrupt pin has not connected. The second is LIS2DE12 has multiple interrupt outputs, any of the interrupt pins can be setuped by register. The other reason to modify the design is to reduce the cost of bom.

Let me explain how current desgin work：
The interrupt pin of OPT3011 can be setup as open-drain mod , this pin con

[2020-10-21 14:14] statropy commented on #33
Now that I have the Rev C schematics and layout, I can trace the signals through the diodes. The push-pull interrupts are default configured to active high. Switching both LISDE12 and HDC2010 to active low allowed the interrupt to trigger. The shared interrupt doesn't fit very well with the Zephyr driver and device tree system, but the hardware does work as intended.

[2020-10-21 14:14] #33 closed

[2020-10-23 01:52] jadonk opened #35 "HW: add audible buzzer to MSP430"
It would be good to have an audible indicator to users.

[2020-10-23 02:22] #30 closed

[2020-10-23 02:24] jadonk opened #36 "HW: buck-only regulator only operates down to 3.5V"
When using a LiPo battery, the life is severely limited due to the lack of a boost regulator.

[2020-10-23 02:27] jadonk commented on #22
This needs to be updated for 3-side markings and the new product name "BeagleBoard.org BeagleConnect Freedom".

[2020-10-29 15:04] jadonk opened #38 "SubG Greybus Demo"
- [x] CI for MSP430 firmware for UART pass-through (for flashing CC1352) @statropy
- [x] CI for MSP430 firmware for wpanusb @statropy and @jadonk
- [x] Main repo has instructions for flashing the MSP430 and CC1352 @statropy
- [x] CI for CC1352 firmware for Launchpad supporting 2.4G/SubG, Greybus w/ GPIO/I2C @cfriedt
- [x] CI for CC1352 firmware for BeagleConnect Freedom supporting wpanusb @cfriedt

[2020-10-29 17:41] jadonk opened #39 "CI: Add caches to speed up build times"

[2020-10-29 17:47] jadonk opened #40 "SW: buildroot/greybus/gbridge: Solve Qemu / Netlink Issue"

[2020-10-29 17:49] #26 closed

[2020-11-02 21:43] jadonk opened #41 "HW: Freedom: Ideal diode"
Replace D1 with an ideal diode circuit to increase battery life by reducing circuit voltage drop.

![image](https://user-images.githubusercontent.com/9018/97922501-958fe700-1d2a-11eb-98c3-f07324b886b0.png)

[2020-11-02 21:45] jadonk opened #42 "HW: Freedom: crystal load cap update"
Increase Y3 crystal load capacitance

![image](https://user-images.githubusercontent.com/9018/97922626-c7a14900-1d2a-11eb-91fb-b12b4b03d76b.png)

[2020-11-02 21:46] jadonk commented on #32
![image](https://user-images.githubusercontent.com/9018/97922756-f9b2ab00-1d2a-11eb-8456-e941dd47172e.png)

![image](https://user-images.githubusercontent.com/9018/97922766-fddec880-1d2a-11eb-93f1-8b2effbeac78.png)

[2020-11-02 22:15] jadonk commented on #29
The rev C2 release did not fix this layout issue.

![image](https://user-images.githubusercontent.com/9018/97925205-fb7e6d80-1d2e-11eb-9e5f-aad8dc30076a.png)

[2020-11-03 03:19] #27 closed

[2020-11-04 20:58] jadonk commented on #15
@statropy what else is left to close this?

- [ ] Reproduce it working
- [ ] Integrate HDLC with both wpanusb (HID) and console pass-through (CDC ACM)

[2020-11-04 21:00] jadonk commented on #16
Superseeded by BeagleConnect Freedom rev C2.

Only confirmed case issue is to improve the silkscreen.

[2020-11-05 15:42] jadonk commented on #38
We need to set some new requirements to be completed for the next week! These are all completed, but it still isn't reproduced.

[2020-11-05 15:42] #38 closed

[2020-11-12 16:12] cfriedt commented on #20
Video of SubGHz Blinky

https://twitter.com/cfriedt/status/1324757273026154496

I2C transactions over SubGHz:
![wireshark-greybus-i2c](https://user-images.githubusercontent.com/983494/98965331-ec8a7e80-24d7-11eb-8a7c-d8379df2290e.png)

Just working on SPI now.

[2020-11-12 16:26] cfriedt commented on #12
IEEE 802.15.4 + CC1352R1 LaunchXL
https://gist.github.com/cfriedt/83becb9c483a818852894491b94b1eae

Blink an LED using Linux, Zephyr & Greybus via Bluetooth
GPIO LED
https://gist.github.com/cfriedt/f2026ed38025b30c67103088e14198d6

Blink an LED using Linux, Zephyr & Greybus via IEEE 802.15.4
GPIO LED
https://gist.github.com/cfriedt/67d88a7312b025d8c365b9b67d934c25
https://www.zephyrproject.org/bli

[2020-11-12 16:31] cfriedt commented on #14
I'll follow up with TI to see if they will fund the BLE driver work
Otherwise, the demo is documented here:
https://gist.github.com/cfriedt/f2026ed38025b30c67103088e14198d6

Nowadays, with the greybus service, it's more like this but with `-DCONF_FILE=overlay-bt.conf`. All that needs to be changed is the board in use when the BLE driver is complete.
https://gist.github.com/cfriedt/9ad6a10250b5098e

[2020-11-12 16:31] cfriedt commented on #14
Working on SPI next.

[2020-11-12 16:32] cfriedt opened #43 "SPI Demo"
Demonstrate SPI running over Greybus

[2020-11-16 19:55] jadonk commented on #29
Rev C2 placement fix:

![image](https://user-images.githubusercontent.com/9018/99301310-be7ca580-281b-11eb-89c1-db8f99f2a05f.png)

![image](https://user-images.githubusercontent.com/9018/99301321-c3415980-281b-11eb-8f16-bfffbcb9688a.png)

[2020-11-17 13:37] jadonk commented on #32
Missed the radio interface changes:

<img width="396" alt="image" src="https://user-images.githubusercontent.com/9018/99396500-d1d95080-28af-11eb-86e4-015cb9344131.png">

<img width="465" alt="image" src="https://user-images.githubusercontent.com/9018/99396526-db62b880-28af-11eb-836a-ae2dc3f7e95e.png">

<img width="723" alt="image" src="https://user-images.githubusercontent.com/9018/99396539-e0276

[2020-12-06 16:37] jadonk commented on #43
I've got a new "build-firmware.sh" script. Adding the build steps for each demo project there would be of some value. With the CCACHE, I'm hopeful the CI build times won't go up too crazy.

[2020-12-06 16:38] #39 closed

[2020-12-07 15:23] jadonk commented on #35
Works on BCF rev C2.

[2020-12-07 15:23] #35 closed

[2020-12-09 18:31] cfriedt commented on #43
The ADXL portion has been demonstrated (video in the beagleconnect slack channel) and source code here:

https://github.com/cfriedt/cc1352r-sensortag-adxl362-greybus-demo

As for the OLED C Click board, I recently confirmed with @vaishnav98 that the using the Linux driver unmodified would require additional GPIOs to be passed from platform data which is really more along the lines of creating a mi

[2020-12-12 13:37] jadonk commented on #32
<img width="975" alt="image" src="https://user-images.githubusercontent.com/9018/101985170-57a0af80-3c54-11eb-9d1d-8f4d29d27a3e.png">

New RF section:
* 2.4GHz uses on-board chip antenna by default population.
* SubGHz should have used AE2 spring antenna by default, but the population options above show the connection isn't populated and the J7 U.FL is used by default population.
* The power ampli

[2020-12-17 15:48] jadonk opened #44 "HW: add I2C signals to MSP430"
We need some extra communication between the CC1352 and MSP430. Adding the I2C signals to the MSP430 would be very helpful.

Use pins 30/31 (P4.1/P4.2) (SDA/SCL).

[2020-12-24 00:22] jadonk commented on #44
@FionaYu20180326 can you confirm there is a fix for C2 (to fix the wire mod)? can you add this as well?

Still having trouble with the SubG radio.

[2020-12-24 02:58] FionaYu20180326 commented on #44
Yes, this is fixed on next sample build.

[2020-12-29 18:27] jadonk commented on #28
Resolved in C2.

[2020-12-29 18:27] #28 closed

[2020-12-29 18:28] jadonk commented on #36
See https://github.com/jadonk/beagleconnect/issues/41

[2020-12-29 18:31] jadonk opened #45 "HW: Freedom: isolate temperature sensor"
Baozhu, please note the issue here.

[2020-12-30 01:30] Pillar1989 commented on #45
I have communicated this idea to the relevant electronic engineers.

[2020-12-31 05:04] jadonk opened #46 "Case: need serial number barcode"
We need some way to identify these in the field. Ideally, a 2D barcode with the MAC ID would be printed on a sticker on the side. Not sure if that is possible. Somehow, the device itself should have the value on the barcode.

[2021-01-12 12:42] vaishnav98 opened #48 "mikroBUS over Greybus"
Hi @jadonk,

Temporarily adding this issue to track mikroBUS over Greybus steps to reproduce, not able to reproduce the buildroot setup still and is failing as before, can you point me on how I should update the beagleconnect repo for steps to repoduce the results?

For now an out of tree Greybus+mikroBUS modules are available/patches are added to bb-kernel repo, the changes are being added here:

[2021-01-15 04:08] jadonk commented on #48
Let's get this documented in README.md

[2021-01-15 04:26] #29 closed

[2021-01-15 04:28] jadonk commented on #14
@cfriedt can you document what the issue seen with BLE is?

[2021-01-15 04:44] jadonk opened #49 "File renames in patch"
Can we simply avoid this file rename?

https://github.com/jadonk/beagleconnect/blob/7c9c08c668fe660952bad69068a9972811cd0789/sw/linux/0007-mikrobus-mikrobus-over-greybus.patch#L535

[2021-01-15 11:29] cfriedt commented on #14
Yes. This was rebased in June 2020 from previous work in March 2020. L

At this point, the CONNECT_IND message is processed, both the Linux host and Zephyr have made the connection (i.e. paired) but then there is a timeout with the initial TX window.

https://github.com/cfriedt/zephyr/tree/and-now-for-something-completely-different-rebased/subsys/bluetooth/controller/ll_sw/ti

[2021-01-25 14:38] jadonk commented on #25
@vaishnav98 can you check where we are on these? Do you need a PM2.5 sensor? We likely need to ship you more boards. Please bug me for that.

[2021-01-25 14:41] jadonk opened #51 "SW: Add CC1352P support to Zephyr"
- [ ] Add SoC CC1352P support under zephyr/soc/arm/ti_simplelink/cc13x2_cc26x2/
- [ ] Add necessary CC1352P drivers from the SimpleLink SDK to zephyrproject/hal/ti/
- [ ] Add SoC-specific entries to IEEE 802.15.4 drivers under zephyr/drivers/ieee802154
- [ ] Verify that IEEE 802.15.4 works with BeagleConnect Freedom at 2.4 GHz
- [ ] Verify that IEEE 802.15.4 works with BeagleConnect Freedom at Sub

[2021-01-25 14:47] jadonk commented on #14
Can you please document the issue with the TI BLE stack on e2e.ti.com and link here?

[2021-01-25 14:48] #18 closed

[2021-01-25 14:52] jadonk commented on #15
See https://github.com/jadonk/wpanusb_bc/commit/a654ea1f0e80fe08628c0fb65cc25a07936dadc3 and https://github.com/jadonk/msp430F55xx_usb_uart_bridge/commit/09721eebe4c7b0bab233288f66b9983172cc5e4f

[2021-01-25 14:52] #15 closed

[2021-01-25 15:02] jadonk commented on #9
One possible resolution is to take the Zephyr Split-Stack Bluetooth API and port it to the CC1352P.

- [ ] An implementation of the Zephyr Split-Stack Bluetooth API under zephyr/subsys/bluetooth/controller/ll_sw/ti/
- [ ] Pairing between the Linux host with BLE and CC1352P BeagleConnect Freedom device
- [ ] Sustained Bluetooth (BLE) operation between the Linux host and CC1352P BeagleConnect Freedo

[2021-01-25 15:07] jadonk commented on #24
Closing this issue to make one less thing to think about. For now, we are just using gcc-msp430 as the official build tool.

[2021-01-25 15:07] #24 closed

[2021-01-25 15:09] jadonk commented on #21
Likely to drop this effort as a priority and simply move to a plugin for WebThings as the out-of-box experience. They Python bindings for libiio are also a nice first experience, so will likely provide some examples there. May come back to making Node-RED a better first-class out-of-box experience later.

Is there a way to mark some things as low priority in a reasonable way?

[2021-01-25 15:11] jadonk commented on #19
@vaishnav98 can you work on the README.md for using the latest code? I think we can create releases for the assets produced in the CI if you want to simplify the directions on usage vs. building.

[2021-01-25 19:34] cfriedt commented on #14
TI's BLE5 Stack (and even the 'micro ble stack') require TI-RTOS. TI has no plans to support BLE5 Stack on anything other than TI-RTOS from what I've been told.

I've documented the issue on e2e.ti.com, although the post is awaiting moderator approval.

[2021-01-25 19:51] cfriedt commented on #14
https://e2e.ti.com/support/wireless-connectivity/bluetooth/f/538/t/973763?LAUNCHXL-CC1352R1-Support-for-BLE5-Stack-on-another-RTOS

[2021-01-26 05:32] vaishnav98 commented on #19
Sure @jadonk I will add the step required for reproducing in README, currently the Click ID/manifest fetching mechanism is not yet added in Zephyr yet, also the zephr changes are made here  https://github.com/vaishnav98/greybus-for-zephyr/tree/mikrobus should I submit a PR to https://github.com/jadonk/greybus-for-zephyr or should add as a new submodule under https://github.com/jadonk/beagleconnect

[2021-01-26 06:02] vaishnav98 commented on #25
@jadonk we are very close to this would like to have PM2.5 sensor and the latest HW, also one concern is the need to continuously send some traffic (https://github.com/jadonk/beagleconnect/blob/master/sw/buildroot/board/beagleboard/beagleconnect_gateway_qemu_x86_64/rootfs_overlay/opt/gbridge.sh#L23) so that the kernel panic/Netlink issue does not happen(looks like it is something related to greybu

[2021-01-26 14:51] jadonk commented on #19
As we discussed on the call, add a new submodule *and* provide a pull request to @cfriedt greybus-for-zephyr repo. You can also create a PR for mine.

[2021-02-02 04:13] Pillar1989 commented on #51
Upgrade to version 4_40_00_44 and try to overwrite the original files directly, there are so many affected files.
[code]

[2021-02-04 15:28] jadonk opened #54 "SW: MSP430: Add I2C device to MSP430, control LEDs and buzzer"
The C3 board version should have I2C between CC1352 and MSP430. The MSP430 controls 2 LEDs and the buzzer. Access to these should be exposed via I2C slave device on MSP430 to I2C master on CC1352 to request LED or buzzer indications.

[2021-02-04 15:34] jadonk opened #55 "SW: MSP430: simplify code via use of I2C"
Make the CDC full logger/shell only by:
* Replace HDLC commands with I2C commands for wpan
* Update wpanusb_bc (new name?) to use I2C instead of HDLC
* Add HID endpoint to MSP430 for CC sw update (and update python script/west integration)

I'm a little confused on this suggestion as I2C would be quite a bit slower than UART. Using I2C for mode/control tasks makes a lot of sense, but I wonder how

[2021-02-04 15:36] jadonk opened #56 "SW: MSP430/CC1352: Have CC1352 trigger how the MSP430 enumerates"
2 separate USB enumeration profiles, with/without WPAN based on CC I2C commands

@statropy I'm confused how this would be done in time if board power is done over USB. Would/could the MSP430 trigger a bus reset and re-enumerate?

[2021-02-04 15:57] statropy commented on #55
UART baud rate is 115,200 and I2C is 100 kbit/s in Standard Mode. I'd consider those functionally equivalent. It looks like the MSP430 can also operate in I2C Fast Mode, which is 400 kbit/s.

[2021-02-04 16:01] statropy commented on #56
I would have the MSP430 delay enumeration until the CC1352 sends a configuration profile to the MSP430. At that time it would enumerate, with or without the WPAN interface. An additional benefit would be to re-enumerate when the CC1352 resets, (via button push or firmware update) so the WPAN Linux driver would also reset and resynch with the gateway application.

[2021-02-04 16:25] jadonk commented on #55
But why can't we up the UART rate to 1Mbit? Are the ports that slow?

[2021-02-04 16:47] statropy commented on #55
I did a LOT of throughput testing on the UART. 115200 was the highest speed that would work reliably without data loss. It's not just the raw clocking of the bus, but servicing the interrupt and pulling the data out without Rx overflow. The UART interrupt handler is very small, but it has to compete with the USB interrupts also.

[2021-02-09 00:55] Pillar1989 commented on #51
If there is a git maintenance message it should be easy to see.

I've given up on upgrading the SDK, but it should be a task to do in the future.  Using an existing SDK can meet your requirements.

[2021-02-09 01:04] Pillar1989 commented on #55
@statropy  Is it possible to increase the burn-in speed of the CC1352? Currently, it takes almost 30 seconds to burn in one time, maybe more.

[2021-02-09 15:38] statropy commented on #55
The serial bootloader method already detects 'blank' sections and skips those when programming, so it's as fast as it is going to get. If you want a faster update method, then using the SWD port with an external programmer like a JLink is your best option.

[2021-02-10 01:24] Pillar1989 commented on #51
https://github.com/Pillar1989/hal_ti
I am a stubborn beagle. I haven't given up, I've done it. After the upgrade, RF is more stable, sub-1Ghz IPV6 TCL server/client is very stable. @jadonk

[2021-04-16 04:40] jadonk opened #59 "HW: Add way to disable on-board sensors"
We need a way to change the base address of those sensors that can change (HDC2010) and/or disable sensors when their I2C address conflicts with off-board sensors. It would just be too frustrating for someone to not be able to use the sensor of their choice.

cc @Pillar1989 @FionaYu20180326

[2021-04-16 07:11] FionaYu20180326 commented on #59
There are 3 ways we can do this. Which would you prefer?
1> Make a wire line on PCB and let users cut it, by cutting the line, they can chose which I2C port to use.
2> Use a resistor. Users can solder or dis-solder the resistor to chose which I2C port to use.
3> Add a analog switch and use MPS430 GPIO to control it. But may raise cost.

[2021-04-21 01:24] jadonk commented on #59
How about we use DIO_16 and DIO_17 for on-board I2C and restrict our JTAG support to 2-wire (SWD), which is the boot configuration anyway?

[2021-04-23 08:39] FionaYu20180326 commented on #59
I will use current TI TS5A23157RSER as analog switch.

[2021-04-25 01:20] Pillar1989 commented on #59
@jadonk  @FionaYu20180326  If we want to move quickly to the C4 version, there are three more things we need to determine at this point. I think the C4 version must be the last one. Or would it be better if we call it version C3.1?

- Antenna selection and suppliers. 14db requires 1pcs antenna, 20db requires 2pcs antennas. How many antennas inside the final package?
- About Sensor, how do we handl

[2021-04-25 03:53] jadonk commented on #59
Please use C4 as the revision.

Minimum required to reach 1km @ 1kbps. If we can do it with 1 14dB antenna, then let's do that. If we can do it with a shared antenna for 20dB TX and 14dB RX, then let's do that. If we must add 2 antennas to support 20dB and that is needed to reach 1km, then let's do that.

Let's not try to add support for ultra-low power mode. The power is low enough for initial pr

[2021-09-07 00:40] jadonk commented on #51
Any help for upstream or patch?

[2021-09-07 02:42] Pillar1989 commented on #51
@jadonk  of course , we can try.

[2021-09-08 02:39] Pillar1989 commented on #9
https://software-dl.ti.com/simplelink/esd/simplelink_cc13x2_26x2_sdk/4.40.00.44/exports/docs/ble5stack/ble_user_guide/html/ble-mesh/ti-zephyr-overview.html @jadonk   It seam It had do some explore about this.

[2021-10-09 08:43] Pillar1989 commented on #9
https://github.com/cfriedt/zephyr/blob/37ea335ea56963893897695051538a76a11ca739/subsys/bluetooth/controller/ll_sw/ti/README.md  @jadonk @cfriedt

[2021-11-10 17:47] jadonk commented on #59
There needed to have been a pull-up on the SEN_SDA/SEN_SCL side of the switch such that the SDA/SCL lines on the sensors didn't float and cause possible confusion. I'm concerned this could cause on-board sensor failure.

[2021-11-11 10:04] GuoqingLing2589 commented on #59
We have added pull-up resistors to the analog switch inputs. The pull-up resistor comes into play when communication with the on-board sensor is required, pulling up the SEN_SDA/SCL. So there is no need to add pull-ups on the SEN_SDA/SEN_SCL side.

[2021-11-12 13:56] jadonk commented on #59
@GuoqingLing2589 the issue is that when you disconnect the SEN_SDA/SEN_SCL side from the pull-ups, the sensors can get into an unknown state. When you reconnect them, the sensors interfere with the I2C communications.

[2021-11-12 15:08] jadonk commented on #59
@GuoqingLing2589 Immediate issue issue may have been related to the scope probes. When I remove them, they start working. However, I think this possible failure mode is real.

[2021-12-05 04:30] jadonk commented on #59
Seems to be working well enough, but if we do any updates, we should put weak pull-ups on the sensor-side as well.

[2021-12-05 04:32] jadonk opened #66 "Case: need to finalize silkscreen"
We need a reviewed silkscreen/etch with:
* BeagleBoard.org logo
* LED indication (current schematic definition isn't accurate)
* Button labels
* MikroBUS labels

[2021-12-05 04:56] jadonk opened #67 "HW (rev C5): UART pins to mikroBUS headers have swapped TX/RX"
According to the [mikroBUS specification](https://download.mikroe.com/documents/standards/mikrobus/mikrobus-standard-specification-v200.pdf), the socket labels are based on the perspective of the MCU, meaning the RX pin on the socket in the following diagram should be connected to the RX pin on the MCU.

![image](https://user-images.githubusercontent.com/9018/144734118-e1032084-e5e4-4868-ba66-12a3

[2021-12-05 05:01] jadonk opened #68 "HW (rev C5): 2.4G LED cannot be used"
Because the signal for this LED is the same signal as to the RF switch, it cannot be used in software. Further, it cannot reflect a valid antenna state as the signals that would enable this are not populated according to the schematic.

On the MSP430, the signal on pin 1 (P6.0/CB0) is available to control this LED. Otherwise, it is also possible to recover the signal fed to the antenna switch, sin

[2021-12-08 03:41] GuoqingLing2589 commented on #67
Hello Jason, according to the master and slave devices has different to silkscreen, we recommend using the master device silkscreens on the front of the BeagleConnect and the slave device silkscreens on the back. Do you think it is feasible?

[2021-12-09 01:10] GuoqingLing2589 commented on #59
Okay, we'll add it. Then jumper test it.

[2021-12-09 01:16] GuoqingLing2589 commented on #68
Hello Jason, after our test, the LED is able to light up when 2.4G is on. Do you want the LED to achieve another function?

[2021-12-09 13:26] jadonk commented on #68
Wouldn't that interfere with the SubG radio signal? The path is mostly not populated, but it would adjust the signal to the u.fl.

[2021-12-09 13:27] jadonk commented on #67
No, it should be socket/master in both cases. The socket is female, the add-on board uses male.

[2021-12-13 02:04] GuoqingLing2589 commented on #68
The external antenna is 50Ω impedance model does not need to do impedance matching, so our board is reserved for the empty paste position, and the use of 0201 package, the empty paste position does not interfere with the Sub G signal transmission.

[2021-12-13 02:22] GuoqingLing2589 commented on #67
Okay, got it

[2021-12-13 16:44] jadonk commented on #68
so, we can enable/disable this signal without interference with the radio? This is confusing, but that seems OK. I'll re-enable that LED in the code, but we'll likely want to label it different on the enclosure silkscreen.

[2021-12-13 16:51] jadonk commented on #67
I don't believe the CC1352 has an easy way to detect the status of MB1_CTRL. It seems that this could cause some potential for device damage. We can do some monitoring of RX before we enable TX on the CC1352, but USB could be hot-plugged, resulting in the CC13520 TX being connected to MSP430 TX.

I'm unclear when this could be fixed in hardware--ie., can this be fixed before the larger production

[2021-12-13 16:55] jadonk commented on #66
@GuoqingLing2589 @FionaYu20180326 Do you have any plans to create the silkscreen for the case/enclosure?

[2021-12-14 08:08] GuoqingLing2589 commented on #66
Sure, what do you think of the effect of the picture below?
![9e7933935b478d289737ec4c3efe17a](https://user-images.githubusercontent.com/94108854/145957845-5276f380-bce6-465e-a2b1-848aa3635671.png)
![5e381229da38a7463f7eadedc75be59](https://user-images.githubusercontent.com/94108854/145957886-e743c837-03d6-46e8-8d5b-789e5c8de7fe.png)

[2021-12-15 11:27] GuoqingLing2589 commented on #68
LED can be restored to use without affecting the RF function, but to remove the resistor R58, which is in mass production when the air paste on the line. But LED silkscreens because the location is not enough to do special labeling.
![4e32e7539cca29d28104386b5808f01](https://user-images.githubusercontent.com/94108854/146178018-936b460d-acdb-4d67-b315-5812038944bb.png)

[2021-12-17 13:20] GuoqingLing2589 commented on #67
We have tested it and there are no problem. We will continue the aging test this week and give you the results next Monday.

[2021-12-21 17:53] jadonk commented on #68
I mean the silkscreen on the enclosure.

[2021-12-21 18:01] jadonk commented on #66
It looks good. Need to double-check pin positions and align with official mikroBus specification for sockets on both sides. Need to add "beagleconnect" and "freedom" below beagleboard.org.

[2021-12-22 08:14] GuoqingLing2589 commented on #67
After the aging test, there is indeed a problem, is dealing with the problem.

[2021-12-22 08:34] GuoqingLing2589 commented on #66
Okay, got it.

[2021-12-23 14:59] jadonk commented on #56
@vaishnav98 Can we use the BOOT pin and I2C for this? I think the BOOT pin always needs to be MSP430->CC1352. The CC1352 could update the MSP430 with its status, however, over I2C. Maybe we need to think of this in more general terms.

[2021-12-23 15:26] erikwelsh opened #71 "SW: Need to visually differentiate BCF node .bin files on node"
Currently, all the BCF bin files have the same LED pattern on the node.  To make it easier to understand what bin file is programmed on each node, please change the LED pattern for each bin file.

Given that there are 6 LEDs on a node, you could binary encode which bin file it is using the LEDs.  For example:

gateway:  000001
sensortest:  000010
greybus:  000011

or you could do a one-hot pattern

[2021-12-23 20:30] vaishnav98 commented on #56
It should be possible to use the BOOT pin as an interrupt for the I2C slave so that MSP430 can trigger I2C reads from CC1352, yes CC1352->MSP430 communication should be easy over the I2C, will try implementing this approach and we can review

[2021-12-24 10:49] GuoqingLing2589 commented on #66
![7026b7d3f62d307b0f70e6206c51ad2](https://user-images.githubusercontent.com/94108854/147346253-8d1a653a-d834-432f-9bb4-56933be3c481.png)
Please see the new rendering.

[2021-12-24 15:08] jadonk commented on #22
#66 duplicate

[2021-12-24 15:08] #22 closed

[2021-12-24 15:58] jadonk commented on #66
@GuoqingLing2589 Please put "BeagleConnect" and "Freedom" on separate lines to make the text bigger. We have a lot of blank space. :-)

[2021-12-28 03:40] GuoqingLing2589 commented on #67
We switched the Pin 13 and Pin 14 wires on the J4 holder to avoid this problem, as follows:
![企业微信截图_16405899174182](https://user-images.githubusercontent.com/94108854/147525548-39b2bf40-8da4-4fac-8e96-78d04f1172cf.png)

[2021-12-28 14:23] jadonk commented on #67
OK. We'll need to have some version indication so we can apply the software work-around.

[2021-12-29 06:28] GuoqingLing2589 commented on #66
So is this okay?
![企业微信截图_16406794881726](https://user-images.githubusercontent.com/94108854/147633483-b2b32ee9-7534-4c73-a1ba-662c17f8fd73.png)

[2021-12-30 02:13] GuoqingLing2589 commented on #67
I think we could change the hardware schematic version from C5 to C6 and send you the latest schematic, can we？

[2022-01-02 16:42] Ddevendra commented on #36
does this issue still exists, if yes, I believe it could be solved by some of these methods

- changing voltage conversion IC to
	- [LTC3440](https://www.analog.com/en/products/ltc3440.html#product-overview)
	- [TPS61200](https://www.ti.com/product/TPS61200)
_These are some standalone ICs for single cell power management_

- using VLDO voltage regulator (useful only if entire board can operate on

[2022-01-06 14:20] jadonk commented on #66
I'd go ahead and expand "Freedom" to be the full width of the available space. Also, "Connect" in "BeagleConnect" could be a different color.

[2022-01-06 14:22] jadonk commented on #67
Schematic is good, but we need some software indication so that the old hardware can still work, I think.

[2022-01-06 14:23] jadonk commented on #36
No, we switched to an "ideal diode".

[2022-01-06 14:23] #36 closed

[2022-01-06 14:24] #31 closed

[2022-01-06 14:26] #45 closed

[2022-01-08 17:43] #67 closed

[2022-01-08 18:49] jadonk commented on #71
I'd like to assign functional meaning to each LED and try to infer the running application from that.

There is a total of 6 LEDs. I believe they are in the order of CHG, 2.4G, 900M, 3V3, LED1 and LED2.

## CHG (A)
The mode of this cannot be changed. It is on when an attached battery is being charged.

## LED 2.4G (B)
This is the only one available on CC1352. I'd like to use it for things where lo

[2022-01-08 21:02] jadonk commented on #71
Below is what I just proposed, but I'm concerned it doesn't have separate sensor status indication for both sides of the connector.

@vaishnav98 @erikwelsh - What would you think if I combined Greybus/Sensor into one indicator, but separate for each like:

## 1/2
1 or 2 on
: Sensor identified and Greybus connection established

1 or 2 off
: No sensor identified and not seeking Greybus connection

[2022-01-08 21:16] jadonk commented on #71
OK, might be useful to read this history, but I updated my proposal: https://github.com/jadonk/beagleconnect/commit/49c5539a52233f9ae5a751f95311e5e19fa50702

[2022-01-11 01:49] jadonk opened #72 "SW: BeagleBone based flashing of MSP430"
Have a pre-installed Debian package to flash the MSP430. I've got instructions to build the virtualenv at https://github.com/jadonk/ti_msp430_python_tools/blob/main/README.md. I'd like that virtualenv to be installed so it can be used in an MSP430 programming script such as called in the usb_uart_bridge Makefile (https://github.com/jadonk/msp430F55xx_usb_uart_bridge/blob/master/Makefile#L140).

[2022-01-17 10:39] GuoqingLing2589 commented on #66
What about this look?
![企业微信截图_16420408122354](https://user-images.githubusercontent.com/94108854/149754554-5fb0edbe-d0df-4285-8ba1-ce7149308499.png)

[2022-01-20 14:48] jadonk opened #73 "Docs: Additions/fixes to software block diagram"
* Don't call BeagleBone a "Linux PC" -- use something that doesn't imply an individual's desktop.
* Add cdc_acm
* Add hover text into block and make that text smaller
* Add Avahi to the diagram
* Start to define some new diagrams
   * Discovery process series of diagrams
   * Break down the Zephyr layers

Need additional documentation to introduce Zephyr and how we use it.

[2022-01-20 16:55] jadonk commented on #66
* Can you add ® marks to both the BeagleBoard.org logo and "BeagleConnect"?
* Do you have any markings for the RESET and BOOT/USER buttons?
* Do you have a similar set of markings for the backside?
* I think we need some indication of which mikroBUS. On "top", the side with the USB connector, LEDs, buttons, and MSP430, that is mikroBUS *1*. On "bottom", the side with the CC1352 and battery connect

[2022-01-20 16:59] jadonk opened #74 "HW: UART_0 pins are swapped on the mikroBUS connector"
This is true for rev C5. I believe rev C6 addresses this issue already. We need the design released for C6.

[2022-01-21 01:44] GuoqingLing2589 commented on #66
- Okey, we will add it.
- We have added silkscreen to the RESET and BOOT/USER buttons.
- for the backside, it have the same silkscreen.
- Okey.
We will finish it as soon as possible and send you the renderings.

[2022-01-24 02:52] GuoqingLing2589 commented on #66
![企业微信截图_16429886851692](https://user-images.githubusercontent.com/94108854/150713940-429e1152-d60c-46ac-b115-04516e83c146.png)
![企业微信截图_16429914121741](https://user-images.githubusercontent.com/94108854/150714107-cdd60859-8cdc-44c1-91c3-131f4c9a6871.png)
We finished it, but there is a problem that the ® is too small and not obvious if we follow the trademark specification.

[2022-02-25 10:56] silver2row opened #77 "Ideas on Building at west zephyr-export and Receiving Errors on the Build"
I am trying to build the /blinky application and port it to the Rev. C5 from the BBGG

I have researched specifics in the ZephyrProject, the communication aspects to the file system for Zephyr, and I am just starting to handle the ideas circulating around cc1352R and the M4F onboard the BeagleConnect.

I have been following along for now until I can make a break in the ` case `. Here:

[code]

Thi

[2022-02-27 11:23] silver2row commented on #77
Hello,

Is there a .dtsi file yet for the M4F?

Seth

[2022-04-21 14:02] jadonk opened #80 "SW: Usermode Linux for testing Greybus code"
# What I'm trying to accomplish
* Enable crashes in greybus/gbridge code to not crash the system
* Validate code
* Create automated test benches that can run in CI
* Run test code in a container to normalize the build environment
* Create releases as an executable, such that we might be able to make applications

Note that User Mode Linux (UML) doesn't accomplish something I'd really like, which i

[2022-05-04 03:14] jadonk commented on #73
@lorforlinux Can you look at this feedback on the software block diagram? I think we can have a couple of diagrams at different complexity levels. I used a Jupyter Notebook to create the diagram.

[2022-05-04 11:19] lorforlinux commented on #73
@jadonk Sure thing, I'll update you on this asap 👍🏽

[2022-05-05 16:33] jadonk commented on #71
Greybus node - U off,1/2 slow/fast/on (not off)
Gateway - U slow/fast/on (not off), 1/2 off
Sensortest - U off, 1/2 off

[2022-05-05 20:17] jadonk opened #86 "SW: feature request: beep rssi"
hold user button
confirm with beep
beeps far apart for weak signal
beeps fast for strong signal
press user button to stop

[2022-05-11 16:11] jadonk commented on #8
The general outline for a Beagle System Reference Manual is https://github.com/beagleboard/beaglebone-black/wiki/System-Reference-Manual, but future SRMs should provide a bit more "README" front-matter before all the legalese and go into more details regarding programming. Note that specific software releases need to be spelled out for the software documentation to be accurate. Further, it should

[2022-05-11 16:19] jadonk commented on #17
We just need to get wpanusb and bcfserial upstream to close this out. Stefan Schmidt did a checklist for wpanusb that I need to pull into here.

[2022-05-11 16:19] jadonk commented on #2
@lorforlinux has started to complete this task.

[2022-05-12 14:30] RobertCNelson commented on #72
@jadonk

[code]

[2022-06-09 14:44] jadonk opened #88 "Docs: Submit HIP to Helium network"
# What I'm trying to accomplish
Enable people to deploy gateways and gain HNT

# What I researched
I've looked a bit at the HIP process, but only a bit.

# What I tried
Nothing yet. This is just reminding me what to do.

# What happened

# What I expect to happen

[2022-06-09 14:46] jadonk opened #89 "SW: Feature request: create userspace implementation on other operating systems"
# What I'm trying to accomplish
Create iOS and Android apps that can contain the smarts of the Linux kernel

# What I researched
User Mode Linux -- requires Linux and x86.

# What I tried
This is just a reminder to me to research this.

# What happened

# What I expect to happen

[2022-06-09 14:48] jadonk commented on #73
Is this done? Do we need some additional review from beta developers?

[2022-06-09 14:53] jadonk opened #90 "SW: Upstream wpanusb"
https://elinux.org/BeagleBoard/GSoC/Ideas-2022#Upstream_wpanusb_and_bcfserial

These are the drivers that are used to enable Linux to use a BeagleConnect Freedom as a SubGHz IEEE802.15.4 radio (gateway). They need to be part of upstream Linux to simplify on-going support. There are several gaps that are known before they are acceptable upstream

Some notes from Stefan Schmidt:

1. The wpanusb linu

[2022-06-09 14:55] jadonk opened #91 "SW: Greybus for Zephyr updates"
https://elinux.org/BeagleBoard/GSoC/Ideas-2022#Greybus_for_Zephyr_Updates

https://elinux.org/BeagleBoard/GSoC/2022_Proposal/GreybusforZephyrUpdates

Support all the relevant peripherals(SPI, UART, PWM, ADC, GPIO IRQ) on BeagleConnect Freedom on Greybus for Zephyr, this requires adding platform specific changes to enable the protocols and interface to the existing NuttX sources, once the protocols

[2022-06-09 14:58] jadonk commented on #43
@lorforlinux can you replicate this and verify it is integrated and repeatable so we can close this?

[2022-06-09 15:01] jadonk opened #92 "SW: Upstream support in Zephyr for the board"
Revisit https://github.com/zephyrproject-rtos/zephyr/pull/38718

[2022-07-07 04:56] silver2row commented on #77
Hello,

I have brought up this idea before today. I am building again and again. Here is the issue w/ cmake so far which I have been trying to figure out. So far, so not so good. I have not been able to move beyond: ` west zephyr-export `.

Seth

P.S. Oh! Here is the error in case others are working to fix this issue: ` FATAL ERROR: command exited with status 1: /usr/bin/cmake -P /home/debian/bcf-

[2022-07-07 05:43] silver2row commented on #77
Hello again...

So, this command: ` west zephyr-export `

Creates this issue: ` FATAL ERROR: command exited with status 1: /usr/bin/cmake -P /home/debian/bcf-zephyr/zephyr/share/zephyr-package/cmake/zephyr_export.cmake `

If I remove that command from the build, this happens:

[code]

I am not sure exactly what to do as of now w/ this build.

Seth

P.S. Um, if someone has figured it out, please ad

[2022-09-18 00:34] #77 closed

[2022-09-18 01:09] silver2row opened #94 "[BeagleConnect FreedomC5/bb-code-server/this repo/Number 40]: [bb-code-server blocking]"
# What I'm trying to accomplish
` I am trying to install bb-code-server to port this repo. to my BBGG and C5. `
# What I researched
` I researched .service files and am using my knowledge. I am seeing a lot of movement w/in the filesystem with enabling the server. `
# What I tried
[code]

I looked through the file in /opt/bb-code-server/config/config.yaml to find additional info. and tried removin

[2022-09-26 07:55] Carton32 opened #95 "SW: linux/wpanusb : memory leak ?"
Hi,

I'm using kernel 4.14.112 on a Raspberry Pi built with Yocto and your `wpanusb` kernel module. I've noticed that each time I perform a cycle of ifdown -> hard reset of MCU -> ifup, I get 2 memory leak reported by KMEMLEAK. I've spent several days to try to figure out what could cause this without success.

More details here: https://stackoverflow.com/questions/73743268/wpanusb-kernel-module-u

[2022-11-11 17:20] jadonk commented on #95
Thanks for the report. I'm in the process of rebasing and upstreaming and there are a lot of todos left on `wpanusb`. I'll dig into it.

[2022-11-11 17:21] jadonk opened #96 "HW: 2.4G LED and mux control"
Is R58 populated? It seems like it shouldn't be, since the antenna path through the mux isn't populated and I can only see it causing problems. If it is populated, I think the 2.4G LED should never be used.

Also, the latest schematic doesn't reflect the updated silkscreen for the LED labels.